@import "main2.css";

body,
h1,
p,
ul,
li {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation {
  width: 100%;
  color: blueviolet;
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: beige;
  text-align: center;
  margin: 10px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}

.edit_txt {
  text-align: center;
  color: green;
  padding: 15px;
}

button {
  padding: 10px;
}

p {
  text-align: justify;
}
